.App {
  display: grid;
  grid-template-rows: 100%;

  .Menu {
    display: none;
    background-color: black;
  }

  .MainWindow {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .main {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .title {
        text-align: center;
        margin: 0;

        h3 {
          margin: 5px;
          padding: 0;
        }

        p {
          margin: 5px 0;
          font-size: calc(8px + 0.5vw);
        }
      }

      button {
        text-decoration: none;
        color: white;
        background-color: black;
        border: 2px solid black;
        font-weight: 600;
        margin: 3px 10px;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          color: black;
          background-color: white;
          border: 2px solid black;
        }
      }
    }

    .footer {
      text-align: center;
    }
  }
}

.GridApp {
  grid-template-columns: 30% 70%;
}

@media screen and (min-width: 1000px) {
  .GridApp {
    grid-template-columns: 300px auto;
  }
}
