.Menu {
  margin: 8px 5px;

  .title {
    margin: 3px 0;
    font-size: calc(8px + 1vw);
    font-weight: 600;
    color: white;
  }

  p {
    margin: 0;
    color: white;
    font-size: calc(8px + 0.5vw);
  }
}
